<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="./style/extend.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="/lib/widget.css">
</head>
<body>
    <div id="widget">
    <!-- Profile card -->
        <div class="card-container">
            
        </div>
    
    <!-- TODO list -->
        <div></div>
    </div>
    <div id="app"></div>
</body>
</html>