<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charisma</title>

    <!-- Root: file -->
    <link rel="stylesheet" href="/style/grid.css">
    <link rel="shortcut icon" href="/res/favicon.ico" type="image/x-icon">


    <link rel="stylesheet" href="style/extend.css">
    <link rel="stylesheet" href="style/elments.css">
</head>
<body>
    <div id="widget">
        <div class="h-widget">
            <button class="l-widget">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </button>
            <p><span class="pri">July</span>&nbsp;<span class="sec">sat, 25 2020</span></p>
        </div>
        <div class="cal-cont">
            <li class="date act">
                <span class="pri">Sat</span>
                <span class="sec">25</span>
            </li>
            <li class="date">
                <span class="pri">Sun</span>
                <span class="sec">26</span>
            </li>
            <li class="date ev">
                <span class="pri">Mon</span>
                <span class="sec">27</span>
            </li>
            <li class="date">
                <span class="pri">Tue</span>
                <span class="sec">28</span>
            </li>
            <li class="date">
                <span class="pri">Wed</span>
                <span class="sec">29</span>
            </li>
            <li class="date">
                <span class="pri">Thu</span>
                <span class="sec">30</span>
            </li>
        </div>
        <div class="t-cont">Events</div>
        <div class="ev-cont">
            <li class="ev-item" style="background: url(/res/ramadhan.jpeg)">
                <!-- On hover:  -->
                <!-- <div class="t-ev">
                    <span class="title">Ramadhan</span>
                    <span class="date">July 27</span>
                </div> -->
            </li>
        </div>
        <div class="t-cont">Reminder</div>
        <div class="rem-cont">
            <li>
                <span class="title">Charima</span>
                <p class="info"><span class="point">Design:</span>&nbsp;<span class="desc">Continue working on Home</span></span></p>
            </li>
            <li>
                <span class="title">Nimellum</span>
                <p class="info"><span class="point">Design:</span>&nbsp;<span class="desc">Continue working on Home</span></span></p>
            </li>
            <li>
                <span class="title">Finnance</span>
                <p class="info"><span class="point">Design:</span>&nbsp;<span class="desc">Continue working on Home</span></span></p>
            </li>
            <li>
                <span class="title">Tower</span>
                <p class="info"><span class="point">Design:</span>&nbsp;<span class="desc">Continue working on Home</span></span></p>
            </li>
        </div>
    </div>
    <div id="content">
        <div class="title-cont">
            <span class="title">Timeline</span>
        </div>
        <!-- Stories container -->
        <div class="storyline-cont">
            <!-- 
                 max character in userid story is 12 (>= 12)
                 if it's (>=) then pick the 9 first letter
            -->
            <li class="style-1 off">
                <img src="/res/profile.jpg" alt="">
                <span class="userid">Your story</span>
                <div class="add"><img src="/res/add1.png" alt=""></div>
            </li>
            <li class="style-1 act">
                <img src="/res/kristo.jpg" alt="">
                <span class="userid">kristo.imm...</span>
            </li>
            <li class="style-1 act">
                <img src="/res/notnot.jpg" alt="">
                <span class="userid">n.lidiawati</span>
            </li>
            <li class="style-1 act">
                <img src="/res/chandra.jpg" alt="">
                <span class="userid">chandraliow</span>
            </li>
            <li class="style-1 act">
                <img src="/res/alin.jpg" alt="">
                <span class="userid">alinnfziah</span>
            </li>
            <li class="style-1">
                <img src="/res/anselma.jpg" alt="">
                <span class="userid">ansellmap...</span>
            </li>
            <li class="style-1">
                <img src="/res/remar.jpg" alt="">
                <span class="userid">reemar.offi...</span>
            </li>
            <li class="style-1">
                <img src="/res/bintang.jpg" alt="">
                <span class="userid">bintangem...</span>
            </li>
            
        </div>
        <!-- Contents:
            - events
            - story
            - write post
            - Photos
            - Interactions
        -->
        <!-- input container  -->
        <div class="input-cont">
            <img src="/res/profile.jpg" alt="" class="user-prof">
                <div class="row">
                    <span class="username">fathnakbar</span>
                </div>
                <div class="opt">
                    <li></li>
                    <li style="margin: 3px 0;"></li>
                    <li></li>
                </div>
            <button class="text-button">Write something...</button>
            <div class="footer">
                <li>
                    <div class="add"><img src="/res/add1.png" alt=""></div>
                    Gallery
                </li>
                <li>
                    <div class="add"><img src="/res/add1.png" alt=""></div>
                    Events
                </li>
                <li>
                    <div class="add"><img src="/res/add1.png" alt=""></div>
                    Story
                </li>
            </div>
        </div>
        <div class="event-post ev-grid">
            <!-- Data: Join count, profile, content, comment, time, likes, desc -->
            <div class="post-grid header">
                <img src="/res/bts.jpg" alt="" class="user-prof">
                <div class="row">
                    <span class="username">bts.bighitofficial</span>
                    <div class="sec">13h ago</div>
                </div>
                <div class="opt">
                    <li></li>
                    <li style="margin: 3px 0;"></li>
                    <li></li>
                </div>
            </div>
            <div class="post-content" style="background: url(/res/btspost.jpg);">
                <div class="container">
                    <div class="column">
                        <span class="title">237 participant</span>
                        <div class="row">
                            <div class="progress-bar">
                                <div class="progress-bar-fill" style="width: 79%;"></div>
                            </div>
                            <span class="numbers">237 / 300</span>
                        </div>
                    </div>
                    <div class="row">
                        <button class="join-button">JOIN</button>
                    </div>
                </div>
            </div>
            <div class="post-data">
                <div class="desc">
                    <p>
                        Hello guys, we are back to make the world dance again
                        as always we will be the one that make you know when the
                        lightout because of a spark of<span>...Read all</span>
                    </p>
                    <div class="date">9 September</div>
                </div>
                <div class="footer">
                    <div class="row grp-btn off">
                        <li><img src="/res/like-w.svg" alt="">351k</li>
                        <li class="margins"><img src="/res/comment-w.svg" alt="">2k</li>
                        <li><img src="/res/share-w.svg" alt=""></li>
                    </div>
                </div>
                <div class="row">
                    <button class="add-button">Add to calendar</button>
                </div>
            </div>
        </div>
        <div class="writes-post post-grid">
                <img src="/res/notnot.jpg" alt="" class="user-prof">
                <div class="row">
                    <span class="username">n.lidiawaty</span>
                    <div class="sec">1h ago</div>
                </div>
                <div class="opt">
                    <li></li>
                    <li style="margin: 3px 0;"></li>
                    <li></li>
                </div>
                <div class="post">
                    <p class="des">Yuk Ikutan Dance #KecilTapiNgeselin ini versi ku! Mana versi kalian? @id.biore</p>
                </div>
                <div class="footer">
                    <div class="row grp-btn off">
                        <li><img src="/res/like.svg" alt="">351k</li>
                        <li class="margins"><img src="/res/comment.svg" alt="">2k</li>
                        <li><img src="/res/share.svg" alt=""></li>
                    </div>
                </div>
        </div>
        <div class="writes-post post-grid">
            <img src="/res/chandra.jpg" alt="" class="user-prof">
                <div class="row">
                    <span class="username">chandraliow&nbsp;<span class="verified-icon"></span></span>
                    <div class="sec">7h ago</div>
                </div>
                <div class="opt">
                    <li></li>
                    <li style="margin: 3px 0;"></li>
                    <li></li>
                </div>
                <div class="post">
                    <p class="des">Setor muka digital tapi caption gak mutu kalo gini doang, kalo gitu:
                        KALAU @andovidalopez ANDOVI BUKAN YOUTUBER, DIA CUMA MAS MAS FLORES BIASA.
                        Roast me back if you can @andovidalopez
                        cc: @cokipardede666
                        #IniBukanPromoFilmBucin</p>
                </div>
                <div class="footer">
                    <!-- Tags use for links -->
                        <div class="tags">
                            <a class="t-info">Youtube got talent<img src="/res/link.svg" alt=""></a>
                        </div>
                    <div class="row grp-btn">
                        <li><img src="/res/like.svg" alt="">6k</li>
                        <li class="margins"><img src="/res/comment.svg" alt="">1k</li>
                        <li><img src="/res/share.svg" alt=""></li>
                    </div>
                    <div class="review">
                        <div class="row">
                            <span><b>bintangemon</b> Ngikut dong bang 😅</span>
                        </div>
                    </div>
                </div>
        </div>
        <div class="writes-post post-grid">
            <img src="/res/bintang.jpg" alt="" class="user-prof">
                <div class="row">
                    <span class="username">bintangemon&nbsp;<span class="verified-icon"></span></span></span>
                    <div class="sec">13h ago</div>
                </div>
                <div class="opt">
                    <li></li>
                    <li style="margin: 3px 0;"></li>
                    <li></li>
                </div>
                <div class="post">
                    <p class="des">Buwung puyuh depan kaca, nih baca
                        Daripada ngegombal, mendingan gua kasih tau nih.. Bentar lagi @jntexpressid bakal ulangtahun yang ke-5, dan gua bareng J&T bakal ngadain giveaway buat kalian semua. Gak main-main, karena ada 3 Iphone X 256gb untuk 3 orang🤟🏼🤟🏼</p>
                </div>
                <div class="footer">
                    <!-- Tags use for links -->
                        <div class="tags row">
                        <span class="t-info">Stand up shows<img src="/res/link.svg" alt=""></span>
                    </div>
                    <div class="row grp-btn">
                        <li><img src="/res/like.svg" alt="">634k</li>
                        <li class="margins"><img src="/res/comment.svg" alt="">10k</li>
                        <li><img src="/res/share.svg" alt=""></li>
                    </div>
                    <div class="review">
                        <div class="row">
                            <span><b>justinbiber</b> Hiyaa, mantab brok 😂</span>
                        </div>
                        <div class="row">
                            <span><b>alinnfziah</b> Bisa jadi gitu ya 😂</span>
                        </div>
                    </div>
                </div>
        </div>
        <div class="writes-post post-grid">
            <img src="/res/kristo.jpg" alt="" class="user-prof">
                <div class="row">
                    <span class="username">kristo.immanuel</span>
                    <div class="sec">4d ago</div>
                </div>
                <div class="opt">
                    <li></li>
                    <li style="margin: 3px 0;"></li>
                    <li></li>
                </div>
                <div class="post">
                    <p class="des">[GIVEAWAY LAGI, GW BAIK BGT DAH ELAH]

                        Karena kalian butuh banyak kuota buat nonton konten gw biar views nya makin banyak, jadi gw dan @byu.id pengen bagi-bagi kuota 25GB buat 20 orang yang beruntung!
                        
                        Syaratnya...</p>
                </div>
                <div class="footer">
                    <!-- Tags use for links -->
                        <div class="tags row">
                        <span class="t-info">Cek youtube brok<img src="/res/link.svg" alt=""></span>
                    </div>
                    <div class="row grp-btn">
                        <li><img src="/res/like.svg" alt="">2k</li>
                        <li class="margins"><img src="/res/comment.svg" alt="">113</li>
                        <li><img src="/res/share.svg" alt=""></li>
                    </div>
                    <div class="review">
                        <div class="row">
                            <span><b>jemimaaraissa</b> Jadi salpok ama tatapan mata wkakaak</span>
                        </div>
                        <div class="row">
                            <span><b>kristogoats</b> Dek ambil simpenan mamah ya,iya ma!...</span>
                        </div>
                    </div>
                </div>
        </div>

        <br>
        <br>
        <br>
    </div>
</body>
</html>